<div class="container">
  <div class="title">
    <h1>All cocktails</h1>
  </div>
  <% @cocktails.each do |cocktail| %>
  <div class="cocktail">
      <h3><%= cocktail.name %></h3>
<%= cl_image_tag("https://res.cloudinary.com/dfwavdkjp/image/upload/v1573228467/nyqtejhsnn76cwkvzmrq.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
  <% end %>

  <%= link_to 'Add new cocktail', new_cocktail_path %>

<div class="card">
   <div class="image">
      <%= image_tag "cocktail1.jpg", class: "img2" %>
    </div>

    <div class="image">
        <%= image_tag "cocktail2.jpg", class: "img3"  %>
    </div>

    <div class="image">

    </div>
</div>

